<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <variable name="mdcPattern" scope="context"
    value="%replace(consumer:%X{consumerid}){'[a-z]+:( |$)', ''}"/>
  <variable name="logPattern" scope="context" value="%-5p %d [%t] [${mdcPattern}] %c{20}: %m%n"/>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>${logPattern}</pattern>
    </encoder>
  </appender>

  <logger level="TRACE" name="kafka.examples"/>


  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>